.not-selected {
    background-color: rgb(182, 182, 175);
    padding: 5px;
}

.selected-red {
    background-color: #EC4747;
    padding: 5px;
}

.selected-yellow {
    background-color: #F2994A;
    padding: 5px;
}

.selected-green {
    background-color: #0D9344;
    padding: 5px;
}

